/*NULL STYLE*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  min-height: 1080px;
  min-width: 1920px;
  max-height: 1080px;
  max-width: 1920px;
  background: #363636;
}

.wrapper {
  min-height: 100%;
  border-radius: 7px;
}
.change-lang {
  width: 200px;
  height: 50px;
  font-family: 'Exo 2', sans-serif;
  font-size: 40px;
  background-color: #363636;
  color:  #fff;
  display: flex;

}

.wrapper header { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 405px;
  color: #ffff;
  font-family: 'Exo 2', sans-serif;
  font-size: 96px;
  line-height: 128px;
}
.addcity_part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*style of list of cities*/
.input-part
{
    font-family: 'Exo 2', sans-serif;
    font-size:  40px;
}

/*style of only input*/
input {
  background: #FFFFFF;
  border-radius: 64px;
  font-family: 'Exo 2', sans-serif;
  font-size: 72px;
  min-width: 992px;
  /*1080-88*/
  height: 135px;
  box-sizing: border-box;
}


input:focus {
  box-shadow: 2px 4px 60px 0px rgba(255, 255, 255, 0.4);
}


/*-----WEATHER-PART----*/

.weather_part {
  min-height: 100%;
  display: none;
  flex-direction: column;
}


.input-part .information {
  display: flex;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}

.input-part .information.error {
  color: #721c24;
  display: flex;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.input-part .information.pending {
  color: #0c5460;
  display: flex;
  background: #d1ecf1;
  border: 1px solid #bee5eb;
}

/*name of city + icon*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*icon*/
.header img {
  width: 473px;
  height: 384px;
  padding-right: 89px;
}

/*name of city*/
.header .location {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-size: 96px;
  color: #ffff;
  padding-left: 81px;
}
/******************************************************************************/
.switch-btn {
  display: inline-block;
  width: 72px; /* ширина переключателя */
  height: 34px; /* высота переключателя */
  border-radius: 14px; /* радиус скругления */
  background: #bfbfbf; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 580px;
  left: 1840px;
  transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
  display: inline-block;
  content: "";
  height: 36px; /* высота кнопки */
  width: 36px; /* ширина кнопки */
  border-radius: 18px; /* радиус кнопки */
  background: #fff; /* цвет кнопки */
  top: -2px; /* положение кнопки по вертикали относительно основы */
  left: -4px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  box-shadow: 0 0 10px 0 #999999; /* тень */
  position: absolute;
  z-index: 1;
}
.switch-on {
  display: inline-block;
  background: #fff;
  box-shadow: inset 0 0 10px 0 #999999; /* тень */
}
.switch-on::after {
  display: inline-blockx;
  left: 30px;
  background: #118c4e;
}
/****************************************************************************************************8/

/*main temperature*/
.temp {
  font-family: 'Roboto', sans-serif;
  font-size: 128px;
  line-height: 150px;
  color: #A50034;
  padding-left: 81px;
  justify-content: flex-start;
  align-items: stretch;

}

.weather_name {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
}


.column_feels {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  line-height: 75px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.second_feels {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.high,
.pressure,
.Humidity {
  display: flex;
    flex-direction: column;
    margin-right: 80px;
    align-items: center;
}

.high_C,
.Pressure_hPa,
.Humidity_percent {
  font-size: 96px;
  line-height: 112px;
  color: #A50034;
}

.pressure {
  padding-right: 45px;
  /*172-127*/
}

/*---CARDS WITH CITIES---*/

/*card*/
.cards {
  font-family: 'Roboto', sans-serif;
  display: flex;
  padding: 0 -5px;
}
.cards div:first-child {
  margin-left: 69px;
} 
.add_city  {
  position: relative;
  background: rgba(227, 227, 227, 0.5);
  border-radius: 32px;
  max-width: 485px;
  height: 320px;
  flex: 1 1 auto;
  margin-right: 78px;
  margin-top: 83px;
}

.add_city:hover {
/*outline: 5px solid #FFFFFF;*/
border: 5px solid #FFFFFF;
margin-top: 50px;
}
.add_city:focus {
  border: 5px solid #FFFFFF;
  margin-top: 50px;
}
.new_city1:hover {
/*outline: 5px solid #FFFFFF;*/
border: 5px solid #FFFFFF;
margin-top: 50px;
}
.new_city1:focus {
  border: 5px solid #FFFFFF;
  margin-top: 50px;
}
.new_city2:hover {
/*outline: 5px solid #FFFFFF;*/
  border: 5px solid #FFFFFF;
  margin-top: 50px;
}
.new_city2:focus {
 border: 5px solid #FFFFFF;
  margin-top: 50px;
}

.new_city1,.new_city2{ 
  background: rgba(217, 217, 217, 0.75);
  border-radius: 32px;
  max-width: 485px;
  min-width: 485px;
  height: 320px;
  flex: 1 1 auto;
  margin-right: 78px;
  margin-top: 83px;
  margin-left: 0px;
  position: relative;
}
.new_city1 {
  display: none;
  position: relative;
}
.new_city2{
  display: none;
}

/*name of card*/
.lng-name_city {
  position: absolute;
  left: 147px;
  bottom: 37px;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}
.name_city1, .name_city2 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  padding-left: 22px;
  padding-top: 44px;
}
/* icon plus*/
.plus {
  position: absolute;
  left: 154px;
  bottom: 114px;
}
.del1,.del2 {
  width: 41px;
  height: 41px;
  display: none;
  margin-top: 349px;
  position: absolute;
  /*горизонатльно по середине род. блока*/
  left: 50%;
  margin-left: -20.5px;
}
.del1,
.del2 :focus {
  width: 41px;
  height: 41px;
  display: flex;
  border: 1px solid #A50034;
  box-shadow: 0 0 3px #A50034;
  margin-top: 349px;
  position: absolute;
  /*горизонатльно по середине род. блока*/
  left: 50%;
  margin-left: -20.5px;
}


.city1_temp1,.city2_temp1 {
  position: absolute;
  top: 152px;
  left: 22px;
  font-size: 48px;
  color: #ffff;
}
.city1_temp2, .city2_temp2 {
  position: absolute;
  top: 227px;
  left: 22px;
  font-size: 48px;
  color: #E3E3E3;
}
.new_city1 img:first-child, .new_city2 img:first-child {
  position: absolute;
  top: 92px;
  left: 238px;
  width: 242px;
  height: 242px;
}